# Include your project-specific ignores in this file# Read about how to use .gitignore: https://help.github.com/articles/ignoring-filesnode_modules.DS_Store.htaccesspublic_html/wp-config-local.phppublic_html/mediasql